
.products-container {
  margin: 0 15px;
}

@media only screen and (min-width: 480px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 0px 5px;
    margin: 0 15px;
  }
}
