.barcodescan {
  margin: 20px;
}

.nobarcodefound {
  padding-left: 15px;
  margin: 20px;
}

.processingbarcode {
  margin: 15px auto;
  width: 300px;
}
.foundbarcode {
  color: green;
}
.processingbarcode .barcode {
  color: #163f76;
  font-weight: bold;
}