@charset "UTF-8";
/* line 12, ../scss/main.scss */
html {
  font-size: 8px;
}

/* line 16, ../scss/main.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 21, ../scss/main.scss */
a:hover {
  color: #163f76;
  font-weight: bolder;
  text-decoration: none;
}

/* line 31, ../scss/main.scss */
body {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  color: #4a4a4a;
}

/* line 36, ../scss/main.scss */
blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 29px;
  border-width: 0 0 0 3px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(to right, #2fcbfa, #1feba0) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(to right, #2fcbfa, #1feba0) 1 100%;
  -moz-border-image: -moz-linear-gradient(to right, #2fcbfa, #1feba0) 1 100%;
  -o-border-image: -o-linear-gradient(to right, #2fcbfa, #1feba0) 1 100%;
  border-image: linear-gradient(to right, #2fcbfa, #1feba0) 1 100%;
  font-size: 17px;
  font-weight: 200;
  font-style: italic;
  line-height: 1.53;
  color: #999;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 56, ../scss/main.scss */
h2 {
  font-size: 2.6rem;
}

/* line 60, ../scss/main.scss */
.nav-container {
  display: flex;
  flex-wrap: wrap;
}

/* line 67, ../scss/main.scss */
.nav-container {
  background-color: #f6f6f6;
}

/* line 71, ../scss/main.scss */
.nav-bar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
/* line 77, ../scss/main.scss */
.nav-bar .nav-item {
  list-style-type: none;
  cursor: pointer;
}
/* line 81, ../scss/main.scss */
.nav-bar i {
  width: 30px;
  font-size: 25px;
  cursor: pointer;
}

/* line 95, ../scss/main.scss */
.menu-list {
  flex: 1;
  display: flex;
  background-color: #25861e;
  transition: all 1.3s;
}
/* line 100, ../scss/main.scss */
.menu-list .menu-item {
  list-style-type: none;
  padding: 20px;
}

/* line 105, ../scss/main.scss */
a.btnbrowse {
  color: #163f76 !important;
  border-radius: 7px;
  border: 1px solid #ff4532;
  box-sizing: border-box;
  line-height: 27px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  padding: 8px 39px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* line 119, ../scss/main.scss */
a.btn.green-border {
  position: relative;
  color: #4a4a4a;
  border-radius: 7px;
  background-image: linear-gradient(to right, #1feba0 0%, #2fcbfa 100%), linear-gradient(to right, #1feba0 0%, #2fcbfa 100%);
  border-right: 3px solid #2fcbfa;
  border-left: 3px solid #1feba0;
  box-sizing: border-box;
  background-position: 0 100%, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 3px 100%;
  -moz-background-size: 3px 100%;
  background-size: 100% 3px;
  line-height: 27px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  padding: 8px 39px;
  text-decoration: none;
  margin: 12px 0;
  display: inline-block;
  position: relative;
  z-index: 5;
}

/* line 144, ../scss/main.scss */
a.btn.green-border:before {
  background: linear-gradient(to right, #1feba0 0%, #2fcbfa 100%), linear-gradient(to right, #1feba0 0%, #2fcbfa 100%);
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0;
  border-radius: 4px;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  transition: all 0.25s ease;
}

/* line 162, ../scss/main.scss */
a.btn.green-border:hover:before {
  opacity: 1;
}

/* line 166, ../scss/main.scss */
a.btn.green-border:hover {
  color: #fff !important;
}

/* line 171, ../scss/main.scss */
.catitem {
  line-height: 1.53;
  padding: 9px 8px 9px 17px;
  background-color: #f6f6f6;
}
/* line 183, ../scss/main.scss */
.catitem .catlink {
  color: #163f76;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.5px;
  text-align: left;
  overflow: initial;
  width: auto;
  min-width: 238px;
  white-space: initial;
  text-overflow: ellipsis;
  text-decoration: none;
}
.active {
  color: red;
}
/* line 200, ../scss/main.scss */
.catitem .catlink:hover {
  color: #ff4532;
}

/* line 208, ../scss/main.scss */
.scrollup {
  position: fixed;
  font-size: 40px;
  opacity: 0.5;
  right: 20px;
  top: 600px;
  cursor: pointer;
}

/* line 216, ../scss/main.scss */
.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1%;
}

/* line 221, ../scss/main.scss */
.product-tile {
  flex: 1;
  margin: 10px 1%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(74,74,74);
}
/* line 229, ../scss/main.scss */
.product-tile.match {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

/* line 236, ../scss/main.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* line 240, ../scss/main.scss */
.exclusive {
  text-transform: capitalize;
}

/* line 243, ../scss/main.scss */
.nobarcodfound {
  padding-left: 15px;
  margin-bottom: 5px;
}

/* line 248, ../scss/main.scss */
.processingbarcode {
  margin: 15px auto;
  width: 300px;
}
/* line 251, ../scss/main.scss */
.processingbarcode .barcode {
  color: #163f76;
  font-weight: bold;
}

/* line 256, ../scss/main.scss */
.about {
  margin: 15px;
}

/* line 259, ../scss/main.scss */
.preservelines {
  white-space: pre-line;
}

/* line 262, ../scss/main.scss */
.homepage {
  margin: 20px;
}

/* line 271, ../scss/main.scss */
.tile-body {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}

/* line 276, ../scss/main.scss */
.winner {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 0 1%;
  margin-top: 20px;
  flex: 1 1 100%;
  text-align: center;
}
/* line 284, ../scss/main.scss */
.winner:hover {
  border-width: 3px;
}
/* line 287, ../scss/main.scss */
.winner .winner-name {
  text-transform: capitalize;
}
/* line 290, ../scss/main.scss */
.winner.woolworths {
  border-color: green;
}
/* line 293, ../scss/main.scss */
.winner.coles {
  border-color: red;
}

/* line 300, ../scss/main.scss */
.woolworths {
  border-width: 1px;
}
/* line 302, ../scss/main.scss */
.woolworths:hover {
  border-color: green;
  border-width: 3px;
}

/* line 307, ../scss/main.scss */
.coles {
  border-width: 1px;
}
/* line 309, ../scss/main.scss */
.coles:hover {
  border-color: red;
  border-width: 3px;
}

/* line 314, ../scss/main.scss */
.product-image {
  cursor: pointer;
  width: 100%;
}

/* line 318, ../scss/main.scss */
.tile-header, .tile-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 323, ../scss/main.scss */
.price-footer {
  display: flex;
  width: 100%;
}
/* line 326, ../scss/main.scss */
.price-footer .footerwrap {
  width: 100%;
}

/* line 330, ../scss/main.scss */
.prod-icon {
  flex: 0 1 auto;
}

/* line 333, ../scss/main.scss */
.favourite {
  flex: 0 1 auto;
}

/* line 336, ../scss/main.scss */
.image-tile {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}
@media screen and (min-width: 960px) {
  /* line 336, ../scss/main.scss */
  .image-tile {
    flex-basis: 45%;
  }
}

/* line 344, ../scss/main.scss */
.text-tile {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 960px) {
  /* line 344, ../scss/main.scss */
  .text-tile {
    flex-basis: 45%;
    margin-left: 5%;
  }
}

/* line 354, ../scss/main.scss */
.price {
  display: flex;
  align-items: center;
}

/* line 358, ../scss/main.scss */
.currentPrice {
  flex: 1;
}

/* line 361, ../scss/main.scss */
.share-social {
  flex: 0 1 auto;
}

/* line 364, ../scss/main.scss */
.addCart, .removeCart {
  margin-top: 20px;
  font-size: 30px;
}

/* line 368, ../scss/main.scss */
.aboutlink {
  color: #163f76;
  font-weight: bold;
  text-decoration: none;
}
/* line 372, ../scss/main.scss */
.aboutlink:hover {
  color: #ff4532;
}

/* line 376, ../scss/main.scss */
.cartHeader {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: 20px;
}

/* line 382, ../scss/main.scss */
.dateAdded {
  font-size: 2.1rem;
}

/* line 385, ../scss/main.scss */
.scanMenu, .shopcart {
  color: #163f76;
}

/* line 388, ../scss/main.scss */
.centerbtn {
  text-align: center;
  margin: 10px 0;
}

/* line 392, ../scss/main.scss */
.cartsaved {
  margin-left: 15px;
}

/* line 395, ../scss/main.scss */
.notification-panel {
  z-index: 201;
  position: absolute;
  top: 19%;
  right: 0;
  width: 302px;
  background-color: #20252b;
  color: #f9fbfb;
  border-color: #163f76;
  border: 1px solid;
  border-top-width: 3px;
  transform: translateY(0px);
  overflow-y: visible;
  visibility: visible;
  opacity: 1;
  transition: transform 0.5s ease-in 0s, opacity 0.3s ease-in 0.3s;
  margin-bottom: 17px;
  font-size: 15px;
  text-align: center;
  cursor: default;
}

/* line 416, ../scss/main.scss */
.notification-panel.changed {
  transition: all 5s linear;
  display: none;
}

/* line 420, ../scss/main.scss */
.notification-panel .notification-panel-top-arrow {
  position: absolute;
  top: -11px;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  cursor: pointer;
  border-left: 8.5px solid transparent;
  border-right: 8.5px solid transparent;
  border-bottom: 8.5px solid #24b94e;
}

/* line 432, ../scss/main.scss */
.notification-panel .icon.btn-close {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 12px;
  font-size: 10px !important;
}

/* line 439, ../scss/main.scss */
.icon.icon-cross {
  cursor: pointer;
  font-size: 30px;
}

/* line 443, ../scss/main.scss */
.icon-cross:before {
  content: "X";
}

/* line 446, ../scss/main.scss */
.notification-panel .notification-panel-body {
  padding: 34px 17px 17px;
}

/* line 452, ../scss/main.scss */
.product-text {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  align-items: baseline;
  /* items’ vertical alignment .  The align-items property on the flex container determines how flex items are laid out along the cross axis ON THE CURRENT LINE! */
  justify-content: space-between;
  /* items’ horizontal alignment. The justify-content property on the flex container stipulates how the flex items are laid out along the main axis ON THE CURRENT LINE!  */
  align-content: space-between;
  /* lines’ vertical alignment. This applies to ENTIRE LINES when there is extra space in the cross axis. */
  padding-left: 20px;
}

/* line 461, ../scss/main.scss */
.product-title {
  flex: 1 1 100%;
  font-weight: bold;
  text-align: left;
}

/* line 466, ../scss/main.scss */
.img-responsive {
  max-width: 100%;
}

/* line 469, ../scss/main.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
/* line 484, ../scss/main.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* line 497, ../scss/main.scss */
pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
/* line 516, ../scss/main.scss */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* line 523, ../scss/main.scss */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 530, ../scss/main.scss */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  display: flex;
}
/* line 535, ../scss/main.scss */
.modal-header .closebtn {
  margin: 0 auto;
}

/* line 540, ../scss/main.scss */
.modal-body {
  padding: 2px 16px;
}

/* line 542, ../scss/main.scss */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
}

/* line 549, ../scss/main.scss */
.footer {
  text-decoration: none;
  color: #163f76;
  margin-top: 20px;
  display: inline-block;
}

/* line 558, ../scss/main.scss */
.notloggedin {
  font-weight: bold;
  cursor: pointer;
}

/* line 562, ../scss/main.scss */
#wow-iframe, #coles-iframe {
  position: absolute;
  height: 480px;
  width: 320px;
  z-index: 1;
}

/* line 569, ../scss/main.scss */
.nav-logo {
  width: 35%;
}

/* line 572, ../scss/main.scss */
.logo {
  max-width: 100%;
  margin-left: 15px;
}

/* line 576, ../scss/main.scss */
.product-logo {
  height: 20px;
  vertical-align: sub;
  cursor: pointer;
}

/* line 581, ../scss/main.scss */
.barcodescanner {
  background-image: url("/img/scanner.png");
  width: 125px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

/* line 589, ../scss/main.scss */
.hasMatches {
  color: #163f76;
  font-size: 25px;
}

/* line 593, ../scss/main.scss */
.fa-link {
  cursor: pointer;
}

/* line 599, ../scss/main.scss */
.searchWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
/* line 604, ../scss/main.scss */
.searchWrap .searchBox, .searchWrap .searchBtn {
  flex: 0 1;
  margin: 0 10px;
}
/* line 608, ../scss/main.scss */
.searchWrap .searchBox {
  border: 1px solid #163f76;
  border-radius: 5px;
}

/* line 616, ../scss/main.scss */
.subheading {
  padding-left: 15px;
}

/* line 619, ../scss/main.scss */
.price-info {
  display: flex;
  width: 100%;
  align-items: baseline;
}

/* line 624, ../scss/main.scss */
.image, .product-info {
  float: left;
}

/* line 627, ../scss/main.scss */
.small {
  font-size: small;
}

/* line 630, ../scss/main.scss */
.was {
  text-decoration: line-through;
}

/* line 634, ../scss/main.scss */
.w100 {
  width: 100%;
}

/* line 637, ../scss/main.scss */
.productprice {
  font-weight: bold;
}

/* line 640, ../scss/main.scss */
.unitPrice {
  font-size: 1.8rem;
}

/* line 643, ../scss/main.scss */
.productprice .productdiscount {
  display: none;
}

/* line 647, ../scss/main.scss */
.productprice:hover .productdiscount {
  display: inline-block;
}

/* line 651, ../scss/main.scss */
.text-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
/* line 656, ../scss/main.scss */
.text-wrapper .text-item {
  flex: 0 1 auto;
}

/* line 660, ../scss/main.scss */
.discounts {
  flex: 1;
  font-size: smaller;
}

/* line 664, ../scss/main.scss */
.originalPrice {
  text-decoration: line-through;
}

/* line 667, ../scss/main.scss */
.category {
  padding: 5px;
}

/* line 672, ../scss/main.scss */
.content {
  flex: 1;
  transition: all .3s;
}

/* line 680, ../scss/main.scss */
.seachbar {
  width: 100%;
}

/* line 684, ../scss/main.scss */
.searchResult {
  width: 100%;
}

@media (min-width: 70em) {
  /* line 689, ../scss/main.scss */
  .container {
    flex-direction: column;
  }

  /* line 692, ../scss/main.scss */
  .hamburger-label {
    display: none;
  }

  /* line 695, ../scss/main.scss */
  .menu {
    /* book incorrectly has .sidebar */
    width: auto;
    height: auto;
  }

  /* line 699, ../scss/main.scss */
  .hamburger-checkbox:checked ~ .menu {
    padding-top: 0;
  }

  /* line 702, ../scss/main.scss */
  .hamburger-checkbox:checked ~ #close {
    display: none;
  }

  /* line 705, ../scss/main.scss */
  .logo.menu-item {
    display: block;
  }

  /* line 708, ../scss/main.scss */
  .menu-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  /* line 713, ../scss/main.scss */
  .menu-item:nth-child(2) {
    border-top: none;
  }

  /* line 716, ../scss/main.scss */
  .menu-item {
    border-bottom: none;
  }
}
/* line 720, ../scss/main.scss */
.redbold {
  color: red;
  font-weight: bold;
}

/* The switch - the box around the slider */
/* line 726, ../scss/main.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/* line 734, ../scss/main.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* line 741, ../scss/main.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2fcbfa;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 753, ../scss/main.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 765, ../scss/main.scss */
input:checked + .slider {
  background-image: linear-gradient(316deg, #2fcbfa, #1feba0);
}

/* line 769, ../scss/main.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* line 773, ../scss/main.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* line 779, ../scss/main.scss */
.btn-outline-secondary {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  padding: 8px 39px;
  text-decoration: none;
  margin: 12px 0;
  display: inline-block;
  border: solid 3px #3f51b5;
  border-radius: 7px;
  color: #3f51b5;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  font-family: 'Muli', sans-serif;
}
/* line 794, ../scss/main.scss */
.btn-outline-secondary:hover {
  background: #3f51b5;
  color: #fff;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

/* Rounded sliders */
/* line 805, ../scss/main.scss */
.slider.round {
  border-radius: 34px;
}

/* line 809, ../scss/main.scss */
.slider.round:before {
  border-radius: 50%;
}

/* line 813, ../scss/main.scss */
.categoryHeader {
  display: flex;
  justify-content: space-between;
}
/* line 816, ../scss/main.scss */
.categoryHeader .prodsfound {
  flex: 1;
  font-weight: 800;
  margin-left: 15px;
  margin-top: 15px;
}
/* line 822, ../scss/main.scss */
.categoryHeader .selectedType {
  flex: 1;
  margin-right: 15px;
  margin-top: 15px;
}

/* line 830, ../scss/main.scss */
.bundle-child {
  color: white;
  background: #083813;
  font-size: 20px;
}

/* line 835, ../scss/main.scss */
.spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 210px;
}

/* line 840, ../scss/main.scss */
.cartTotal {
  color: #163f76;
  font-weight: bold;
}

/* line 844, ../scss/main.scss */
.cartSavingTotal {
  color: #125430;
  font-weight: bold;
}

/* line 848, ../scss/main.scss */
.wow-bundle {
  color: #125430;
  font-size: 20px;
  cursor: pointer;
}

/* line 853, ../scss/main.scss */
.custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

/* line 862, ../scss/main.scss */
.custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

/* line 867, ../scss/main.scss */
.searchMenu {
  display: flex;
  flex-direction: row-reverse;
  color: #163f76;
}

/* line 872, ../scss/main.scss */
.searchbox {
  margin-right: 10px;
  padding: 6px 8px;
  border-radius: 3px;
  margin-bottom: 10px;
  line-height: normal;
  border: solid 1px #c9c9c9;
  font-size: 16px;
  color: #a8a8a8;
  border-radius: 6px;
}
/* line 882, ../scss/main.scss */
.searchbox:hover {
  outline: 0;
  box-shadow: 0 0 5px #3f51b5;
  border: 1px solid #3f51b5;
}

/* line 888, ../scss/main.scss */
.custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* line 899, ../scss/main.scss */
#routedContent.ng-enter {
  transform: translateX(-500px);
  opacity: 0;
  -webkit-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  -moz-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  -ms-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  -o-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
}

/* line 910, ../scss/main.scss */
#routedContent.ng-enter-active {
  transform: translateX(0px);
  opacity: 1;
}

/* line 915, ../scss/main.scss */
#routedContent.ng-leave {
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  -moz-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  -ms-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  -o-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
}

/* line 926, ../scss/main.scss */
#routedContent.ng-leave-active {
  transform: translateX(500px);
  opacity: 0;
}

/* line 930, ../scss/main.scss */
.suggestion {
  cursor: pointer;
}

/* line 933, ../scss/main.scss */
.uib-typeahead-match {
  height: 100px;
}
/* line 935, ../scss/main.scss */
.uib-typeahead-match a {
  color: black;
}
/* line 938, ../scss/main.scss */
.uib-typeahead-match .suggest-image {
  width: 25%;
}

/* line 945, ../scss/main.scss */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

/* line 950, ../scss/main.scss */
.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

/* line 956, ../scss/main.scss */
.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 963, ../scss/main.scss */
.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

/* line 970, ../scss/main.scss */
.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
/* line 976, ../scss/main.scss */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
/* line 982, ../scss/main.scss */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

/* line 988, ../scss/main.scss */
.resp-sharing-button--twitter {
  background-color: #55acee;
}

/* line 992, ../scss/main.scss */
.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

/* line 996, ../scss/main.scss */
.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

/* line 1000, ../scss/main.scss */
.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

/* line 1004, ../scss/main.scss */
.resp-sharing-button--facebook {
  background-color: #3b5998;
}

/* line 1008, ../scss/main.scss */
.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

/* line 1012, ../scss/main.scss */
.resp-sharing-button--tumblr {
  background-color: #35465C;
}

/* line 1016, ../scss/main.scss */
.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}

/* line 1020, ../scss/main.scss */
.resp-sharing-button--reddit {
  background-color: #5f99cf;
}

/* line 1024, ../scss/main.scss */
.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}

/* line 1028, ../scss/main.scss */
.resp-sharing-button--google {
  background-color: #dd4b39;
}

/* line 1032, ../scss/main.scss */
.resp-sharing-button--google:hover {
  background-color: #c23321;
}

/* line 1036, ../scss/main.scss */
.resp-sharing-button--linkedin {
  background-color: #0077b5;
}

/* line 1040, ../scss/main.scss */
.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

/* line 1044, ../scss/main.scss */
.resp-sharing-button--email {
  background-color: #777;
}

/* line 1048, ../scss/main.scss */
.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

/* line 1052, ../scss/main.scss */
.resp-sharing-button--xing {
  background-color: #1a7576;
}

/* line 1056, ../scss/main.scss */
.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}

/* line 1060, ../scss/main.scss */
.resp-sharing-button--whatsapp {
  background-color: #25D366;
}

/* line 1064, ../scss/main.scss */
.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

/* line 1068, ../scss/main.scss */
.resp-sharing-button--hackernews {
  background-color: #FF6600;
}

/* line 1071, ../scss/main.scss */
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {
  background-color: #FB6200;
}

/* line 1073, ../scss/main.scss */
.resp-sharing-button--vk {
  background-color: #507299;
}

/* line 1077, ../scss/main.scss */
.resp-sharing-button--vk:hover {
  background-color: #43648c;
}

/* line 1081, ../scss/main.scss */
.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

/* line 1086, ../scss/main.scss */
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

/* line 1092, ../scss/main.scss */
.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

/* line 1097, ../scss/main.scss */
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

/* line 1103, ../scss/main.scss */
.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

/* line 1108, ../scss/main.scss */
.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

/* line 1114, ../scss/main.scss */
.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

/* line 1119, ../scss/main.scss */
.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

/* line 1125, ../scss/main.scss */
.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

/* line 1130, ../scss/main.scss */
.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

/* line 1136, ../scss/main.scss */
.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

/* line 1141, ../scss/main.scss */
.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

@keyframes ldio-5h29m0fq6k6 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 1153, ../scss/main.scss */
.ldio-5h29m0fq6k6 div {
  left: 86px;
  top: 9px;
  position: absolute;
  animation: ldio-5h29m0fq6k6 linear 1s infinite;
  background: #fe718d;
  width: 28px;
  height: 50px;
  border-radius: 14px / 17px;
  transform-origin: 14px 91px;
}

/* line 1163, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9s;
  background: #fe718d;
}

/* line 1167, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: -0.8s;
  background: #fe718d;
}

/* line 1171, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: -0.7s;
  background: #fe718d;
}

/* line 1175, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: -0.6s;
  background: #fe718d;
}

/* line 1179, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: -0.5s;
  background: #fe718d;
}

/* line 1183, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: -0.4s;
  background: #fe718d;
}

/* line 1187, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: -0.3s;
  background: #fe718d;
}

/* line 1191, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: -0.2s;
  background: #fe718d;
}

/* line 1195, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: -0.1s;
  background: #fe718d;
}

/* line 1199, ../scss/main.scss */
.ldio-5h29m0fq6k6 div:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 0s;
  background: #fe718d;
}

/* line 1204, ../scss/main.scss */
.loadingio-spinner-spinner-ev6jh5v9rqq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

/* line 1211, ../scss/main.scss */
.ldio-5h29m0fq6k6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

/* line 1219, ../scss/main.scss */
.ldio-5h29m0fq6k6 div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
/* line 1222, ../scss/main.scss */
a.btnbrowse {
  width: 100%;
}

/* line 1227, ../scss/main.scss */
.products-container {
  margin: 0 15px;
}

/* line 1230, ../scss/main.scss */
.stalecart {
  font-style: italic;
  margin-top: 15px;
}

@media only screen and (min-width: 480px) {
  /* line 1237, ../scss/main.scss */
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 1240, ../scss/main.scss */
  .main-content .categories-pane {
    flex: 1 1 25%;
  }
  /* line 1243, ../scss/main.scss */
  .main-content .content-pane {
    flex: 1 1 75%;
  }

  /* line 1252, ../scss/main.scss */
  .ldio-5h29m0fq6k6 {
    transform: translateZ(0) scale(1);
  }

  /* line 1256, ../scss/main.scss */
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 0px 5px;
  }
}
/* line 1264, ../scss/main.scss */
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1272, ../scss/main.scss */
input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
