<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Grocery Hawker</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/main.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@7.2.2-v2/dist/dbr.js" data-productKeys="t0068NQAAAKP6Vvq9oLfuEZylQX6riwH1ZzVCWTNA2U36zT5T7C4tBxi457JWwKSuWiixHRUlML4eRSXKuUyGJsQP06ZlRMs="></script>
    <script src="js/main.js"></script>
</head>
<body ng-controller="mainController">
<nav class="nav-container">
    <ul class="nav-bar">
        <!--<li class="nav-item">-->
        <!--<span ng-click="isMenuOpen = !isMenuOpen" ng-show="!isMenuOpen"><i class="fas fa-bars"></i></span>-->
        <!--<span ng-click="isMenuOpen = !isMenuOpen" ng-show="isMenuOpen"><i class="fas fa-times"></i></span>-->
        <!--</li>-->
        <li class="nav-logo nav-item"><a href="/"><img class='logo' src="img/GroceryHawker-03.png"></a>
        </li>
        <!--<li class="nav-item">-->
        <!--<a class='aboutlink' href="/about">About</a>-->
        <!--</li>-->
        <li class="nav-item scanMenu" >
            <div ng-click="scanBarcode()" class="barcodescanner"></div>
        </li>
        <li class="nav-item searchMenu" >
            <div ng-click="search()"><i class="fas fa-search"></i></div>
        </li>
        <li class="nav-item shopcart">
            <span ng-click="viewCart()"><i class="fas fa-shopping-cart"></i>{{ user.getUser().cart.length }}</span>
            <div ng-show="showCartMsg" class="cartPrompt notification-panel">
                <div class="notification-panel-body">
                    <p>{{ cartMessage }}</p>
                </div>
            </div>
        </li>
        <!--<li ng-show="loggedIn" class="nav-item"><a href="#"><i class="fas fa-user-circle"></i></a></li>-->
    </ul>
</nav>
<main ui-view>
</main>
</body>
</html>
