<h1 class="cartHeader">
	<div ng-if="!cart.isEmpty">
		<div>Total shopping price <span class="cartTotal">{{ cart.total }}</span></div>
		<div>You saved <span class="cartSavingTotal">{{ cart.diffTotal }}</span></div>
		<div ng-if="cart.isStale" class="stalecart">This cart is more than 1 day old. Click
			<button class="syncCart btn btn-primary btn-margin" ng-click="syncCart()">
				Sync Cart
			</button> to update with latest prices.
		</div>
	</div>

</h1>
<div class="products-container">
	<tile product="item" view="view"
		  ng-repeat="item in items" class="product-tile match"
		  ng-class="{ 'both': item.type == 'both', 'woolworths': item.type == 'woolworths', 'coles': item.type == 'coles' }"
		  ng-click="viewProduct(item)"></tile>
</div>

<span class="scrollup" ng-click="$root.scrollUp()"><i class="fas fa-chevron-circle-up"></i></span>


<div class="cartHeader">
	<div ng-if="!cart.isEmpty">
		<button class="saveCart btn btn-primary btn-margin" ng-click="saveCart()">
			Save Cart
		</button><span class="cartsaved">{{ cartSaved }}</span>
	</div>
	<div ng-if="cart.isEmpty">Nothing added in your cart. Add some items from the product display page.</div>

</div>

