<div class="categoryHeader" ng-show="$root.loaded">
    <span class="prodsfound">{{ prodsFound }} of {{ totalCount }} products found.</span>
    <label for="selectedType">
        <select class="selectedType" id="selectedType"
                ng-options="type.name for type in types track by type.id"
                ng-model="selectedType" ng-change="onSelect(selectedType)">
        </select>
    </label>
</div>
<div class="products-container">
    <tile product="item" view="view" ng-if="item.type == selectedType.id || selectedType.id == 'all'"
            ng-repeat="item in items" class="product-tile match"
            ng-class="{ 'both': item.type == 'both', 'woolworths': item.type == 'woolworths', 'coles': item.type == 'coles' }"
            ng-click="viewProduct(item)"></tile>
</div>
<span class="scrollup" ng-click="$root.scrollUp()"><i class="fas fa-chevron-circle-up"></i></span>