<div ng-if="auth.isAuthenticated()" class="product-container">
	<div class="centerbtn">
		<button ng-click="shared.goBack()" class="btn btn-primary" type="button">
			GO BACK
		</button>
	</div>
	<div class="tile-wrapper">
		<tile product="item" view="view" class="product-tile" ng-class="{ 'both': item.type == 'both', 'woolworths': item.type == 'woolworths', 'coles': item.type == 'coles' }"></tile>
		<tile ng-if="item.type == 'both'" product="item.target" view="view" class="product-tile" ng-class="{ 'both': item.type == 'both', 'woolworths': item.type == 'woolworths', 'coles': item.type == 'coles' }"></tile>
        <div class="winner" ng-class="{ 'both': item.winner == 'both', 'woolworths': item.winner == 'woolworths', 'coles': item.winner == 'coles' }">
			<button class="btn btn-primary addCart" ng-click="$root.addCart(item)">
				<i class="fas fa-plus-circle"></i>
			</button>
			<button class="btn btn-primary removeCart" ng-click="$root.removeCart(item)">
				<i class="fas fa-minus-circle"></i>
			</button>
			<h2 ng-if="item.type == 'both' && item.winner != 'both'">Best value at <span class="winner-name">{{ item.winner }}</span></h2>
			<h2 ng-if="item.type != 'both'">Product only at <span class="exclusive">{{ item.type }}</span>
			<div ng-show="!showMatches">Click <i ng-click="getMatches()" class="fas fa-link"></i> to find nearest matches from {{ targetType }}</div>
			</h2>
			<h2 ng-if="(item.type != 'coles' && item.isAvailable) || item.type == 'coles'">{{ comparisonMsg }}</h2>
        </div>
	</div>
	<div ng-if="shared.isAdmin && item.type != 'both'" class="suggestionswrap">
		<input id="suggestField" type="text" class="form-control" ng-model="ngModelOptionsSelected" ng-model-options="modelOptions"
			   placeholder="Search for target match ..."
			   uib-typeahead="suggest as suggest.n for suggest in getSuggestions($viewValue) | limitTo:5"
			   typeahead-loading="loadingSuggestions"
			   typeahead-no-results="noResults"
			   typeahead-on-select="onSelect($item)"
			   typeahead-test valueemplate-url="suggestTemplate.html"
		>
		<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
		<div class="addResults">{{ addResults }}</div>
		<div ng-show="noResults">
			<i class="glyphicon glyphicon-remove"></i> No Results Found
		</div>
		<div class="promptAddQC" ng-show="matchedItem">Replace With this match?
			<button class="cancelAddQC btn btn-primary" type="button" ng-click="cancelReplaceMatch()">
				Cancel
			</button>
			<button class="AddQC btn btn-success" type="button" ng-click="replaceMatch()">
				OK
			</button>
		</div>
		<button class="AddQC btn btn-success" type="button" ng-click="popup(item)">
			Show Search
		</button>

		<button ng-click="showMatches = !showMatches">
			<span ng-show="!showMatches">Show Matches</span>
			<span ng-show="showMatches">Hide Matches</span>
		</button>
		<span ng-show="shared.isAdmin" class="barcode">{{ item.barcode }}</span>
	</div>
	<div ng-if="showMatches">
		<h2 class="subheading">Disclaimer : These are only best matches found and may not be correct.</h2>
		<div  class="products-container">
			<tile product="match" view="view"  ng-repeat="match in matches" class="product-tile match" ng-class="{ 'both': match.type == 'both', 'woolworths': match.type == 'woolworths', 'coles': match.type == 'coles' }"></tile>
		</div>
	</div>

	<span class="scrollup" ng-click="$root.scrollUp()"><i class="fas fa-chevron-circle-up"></i></span>
</div>
<script type="text/ng-template" id="suggestTemplate.html">
	<div class="suggestion">
		<img class='suggest-image' ng-src="https://shop.coles.com.au{{match.model.t}}" width="16">
		<span class='suggest-name'>{{match.model.m}}</span>
		<span ng-bind-html="match.model.n | uibTypeaheadHighlight:query"></span>
		<span class="suggest-size">{{match.model.a.O3}}</span>
		<!--<span class="suggest-size">{{match.model.p1.o}}</span>-->
		<!--<span class="suggest-size">{{match.model.u2}}</span>-->
	</div>
</script>
