<div class="tile-header" ng-init="init($ctrl.product, $ctrl.view)">
	<img class="product-logo" src="{{ product.type }}-logo.png">
	<!--<a href="#" class="favourite"><i class="fas fa-heart"></i></a>-->
</div>
<div ng-if="$root.isAdmin && product.type != 'both'" class="w100">Score is {{ product.score }}</div>
<section ng-if="view != 'product'">
	<span class="diff" ng-if="(product.type != 'coles' && product.isAvailable) || product.type == 'coles'">{{ comparisonMsg }}</span>
	<img class="product-logo" ng-if="product.winner == 'woolworths'" src="woolworths-logo.png">
	<img class="product-logo" ng-if="product.winner == 'coles'" src="coles-logo.png">
</section>
<div class="tile-body">
	<figure class="image-tile">
		<img ng-if="view != 'product'" class='product-image' src="{{ image }}" alt="Image not found" onerror="this.onerror=null;this.src='img_product-placeholder.png';">
		<a ng-if="view == 'product' || view == 'cart'" href="{{ product.productLink }}" target="_blank">
			<img class='product-image' src="{{ image }}" alt="Image not found" onerror="this.onerror=null;this.src='img_product-placeholder.png';">
		</a>
	</figure>
	<section class="text-tile">
		<h2 class="product-title">{{ product.name }} {{ product.packageSize}}</h2>
	</section>
	<span class='hasMatches' ng-if="view == 'product' && product.hasMatches" ng-click="getMatches()">
		<i ng-if="!showMatches" class="fas fa-link"></i>
		<i ng-if="showMatches" class="fas fa-unlink"></i>
	</span>
</div>
<div ng-if="(product.type != 'coles' && product.isAvailable) || product.type == 'coles'">
	<div class="w100">
		<h2 class="productprice text-item">${{ product.price }}
			<!--<span class="text-item"><i class="fas fa-bell-slash"></i></span>-->
			<div ng-if="product.discount > 0" class="small">
				<span class="was">${{ product.originalPrice}}</span>
				<span ng-if="product.discount > 0" class="productdiscount text-item small">${{ product.discount}} / {{ product.discountPercent}}%</span>
			</div>
		</h2>
		<div class='dateAdded'>
			Price on {{ formattedDate }}
		</div>
	</div>
	<div class="w100">
		<div class="unitPrice text-item">{{ product.unitPrice}}
		</div>
	</div>
</div>
<div ng-if="product.type != 'coles' && !product.isAvailable">
	<div class="w100">
		<h2 class="dateAdded text-item">Price unavailable at {{ formattedDate }}
		</h2>
	</div>
</div>


<!--<div ng-if="view == 'product'" class="tile-footer">-->
	<!--<i ng-if="item.woolworthsBundle" class="wow-bundle fas fa-layer-group" title="This is a bundle" ng-click="openbundle(item)"></i>-->
	<!--<button class="share-social" ng-click="$root.shareSocial()">-->
		<!--<i class="fas fa-share-square"></i><i class="fab fa-twitter-square"></i><i class="fab fa-facebook-square"></i>-->
	<!--</button>-->
<!--</div>-->
