
$header-bg-color: #f6f6f6;

header {
  position: sticky;
  top: 0px;
  width: 100%;
  min-height: 75px;
  background-color: $header-bg-color;

  .nav-bar { 
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    .nav-item { 
      font-size: 2rem;
      cursor: pointer;
    }


.logo {
  max-width: 100%;
  margin-left: 15px;
}

    .nav-logo {
      background-image: url("/img/GroceryHawker-03.png");
      min-height: 60px;
      width: 313px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .barcode-scanner {
      background-image: url("/img/scanner.png");
      width: 125px;
      height: 35px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
    }
    
    .cartSize {
      font-size: 1.5em;
      padding-left: 10px;
    }
  }
}