.qSearch {
  color: green;
}
.searchResults {
  font-size: 2.5rem;
}

.searchWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;

  .searchBox {
    border: 3px solid #163f76;
    border-radius: 5px;
    height: 50px;
    font-size: 25px;
    margin: 0 10px;
  }

  .searchBtn {
    width: 30%;
    height: 50px;
    margin: 0 10px;
  }
}


@media only screen and (min-width: 480px) {
  .searchWrap {
    width: 50%;
  
    .searchBox {
      width: 70%;
    }
  }
}