.qSearch {
  color: var(--root-green-color);
}
.searchResults {
  font-size: 2.5rem;
}

.searchWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;

  .searchBox {
    border: 3px solid var(--root-darkgreen-color);
    border-radius: 10px;
    height: 50px;
    font-size: 2.5rem;
    margin-left: 30px;
    padding: 10px;
  }

  .searchBtn {
    height: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
}


@media only screen and (min-width: 480px) {
  .searchWrap {
    width: 50%;
  
    .searchBox {
      width: 70%;
    }

    .searchBtn {
      width: 30%;
    }
  }
}