.btnbrowse {
  background-color: var(--root-theme-color);
  color: var(--root-black-color);
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--root-black-color);
  box-sizing: border-box;
  line-height: 27px;
  font-size: var(--root-h1-size);
  font-weight: 800;
  padding: 8px 39px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--root-red-color);
  }
}