.btnbrowse {
  background-color: var(--root-theme-color);
  color: var(--root-black-color);
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #ff4532;
  box-sizing: border-box;
  line-height: 27px;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 8px 39px;
  text-decoration: none;
  cursor: pointer;
}