
:root {  
  --root-yellow-color: #fbfae6; //#ffc100;
  --root-red-color: #ee352a;
  --root-black-color: #010101; //#666666
  --root-green-color: #00813f;
  --root-theme-color: var(--root-yellow-color);
  --root-font-size: 8px;
  --root-font-family: 'Muli';
  //'Work Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol';
  //'Muli', sans-serif;
  // 'stratum-2-web",sans-serif';
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--root-black-color);
  
  &:hover {
    color: var(--root-red-color);
  }
}

img {
  max-width: 100%;
}

html {
  font-family: var(--root-font-family);
  font-size: var(--root-font-size);
  color: #4a4a4a;
}

.text-center {
  text-align: center;
  font-size: 2.5rem ;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

figure {
    margin: 0;
}
li {
  list-style-type: none;
}


h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

@media only screen and (min-width: 480px) {
  h2 {
    font-size: 2.5rem;
  }
}





