
:root {  
  --root-color: #163f76;
  --root-font-size: 8px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--root-color);
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muli', sans-serif;
  font-size: var(--root-font-size);
  color: #4a4a4a;
}

.getMatches {
  margin: 10px
}

.text-center {
  text-align: center;
  font-size: 2.5rem ;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.active {
  color: red!important;
}
figure {
    margin: 0;
}
li {
  list-style-type: none;
}


/* line 56, ../scss/main.scss */
h2 {
  font-size: 2.6rem;
}


.products-container {
  margin: 0 15px;
}
@media only screen and (min-width: 480px) {
  /* line 1237, ../scss/main.scss */
  .main-content {
    display: flex;
    flex-wrap: wrap;

    .categories-pane {
      flex: 1 1 25%;
    }

    .content-pane {
      flex: 1 1 75%;
    }

    .products-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      grid-gap: 0px 5px;
      margin: 0 15px;
    }
  }

}


/* line 466, ../scss/main.scss */
.img-responsive {
  max-width: 100%;
}


footer {
  width: 100%;
  max-height: 7rem;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;

  .footerLinks {
    display: inline-block;
    margin: 20px;
  }
}



/* line 216, ../scss/main.scss */
.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1%;
}

/* line 221, ../scss/main.scss */
.product-tile {
  flex: 1;
  margin: 10px 1%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(74,74,74);
}
/* line 229, ../scss/main.scss */
.product-tile.match {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}


/* line 240, ../scss/main.scss */
.exclusive {
  text-transform: capitalize;
}

/* line 259, ../scss/main.scss */
.preservelines {
  white-space: pre-line;
}


.tile-body {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}

/* line 276, ../scss/main.scss */
.winner {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 0 1%;
  margin-top: 20px;
  flex: 1 1 100%;
  text-align: center;
}
/* line 284, ../scss/main.scss */
.winner:hover {
  border-width: 3px;
}
/* line 287, ../scss/main.scss */
.winner .winner-name {
  text-transform: capitalize;
}
/* line 290, ../scss/main.scss */
.winner.woolworths {
  border-color: green;
}
/* line 293, ../scss/main.scss */
.winner.coles {
  border-color: red;
}

/* line 300, ../scss/main.scss */
.woolworths {
  border-width: 1px;
}
/* line 302, ../scss/main.scss */
.woolworths:hover {
  border-color: green;
  border-width: 3px;
}

/* line 307, ../scss/main.scss */
.coles {
  border-width: 1px;
}
/* line 309, ../scss/main.scss */
.coles:hover {
  border-color: red;
  border-width: 3px;
}
.both {
  border-width: 1px;
}
/* line 309, ../scss/main.scss */
.both:hover {
  border-color: yellow;
  border-width: 3px;
}
/* line 314, ../scss/main.scss */
.product-image {
  cursor: pointer;
  width: 100%;
}

/* line 318, ../scss/main.scss */
.tile-header, .tile-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 323, ../scss/main.scss */
.price-footer {
  display: flex;
  width: 100%;
}
/* line 326, ../scss/main.scss */
.price-footer .footerwrap {
  width: 100%;
}

/* line 330, ../scss/main.scss */
.prod-icon {
  flex: 0 1 auto;
}

/* line 333, ../scss/main.scss */
.favourite {
  flex: 0 1 auto;
}

/* line 336, ../scss/main.scss */
.image-tile {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}
@media screen and (min-width: 960px) {
  /* line 336, ../scss/main.scss */
  .image-tile {
    flex-basis: 45%;
  }
}

/* line 344, ../scss/main.scss */
.text-tile {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 960px) {
  /* line 344, ../scss/main.scss */
  .text-tile {
    flex-basis: 45%;
    margin-left: 5%;
  }
}

/* line 354, ../scss/main.scss */
.price {
  display: flex;
  align-items: center;
}

/* line 358, ../scss/main.scss */
.currentPrice {
  flex: 1;
}

/* line 361, ../scss/main.scss */
.share-social {
  flex: 0 1 auto;
}




/* line 385, ../scss/main.scss */
.scanMenu, .shopcart {
  color: #163f76;
}


/* line 392, ../scss/main.scss */
.cartsaved {
  margin-left: 15px;
}


/* line 439, ../scss/main.scss */
.icon.icon-cross {
  cursor: pointer;
  font-size: 30px;
}

/* line 443, ../scss/main.scss */
.icon-cross:before {
  content: "X";
}

/* line 446, ../scss/main.scss */
.notification-panel .notification-panel-body {
  padding: 34px 17px 17px;
}

/* line 452, ../scss/main.scss */
.product-text {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  align-items: baseline;
  /* items’ vertical alignment .  The align-items property on the flex container determines how flex items are laid out along the cross axis ON THE CURRENT LINE! */
  justify-content: space-between;
  /* items’ horizontal alignment. The justify-content property on the flex container stipulates how the flex items are laid out along the main axis ON THE CURRENT LINE!  */
  align-content: space-between;
  /* lines’ vertical alignment. This applies to ENTIRE LINES when there is extra space in the cross axis. */
  padding-left: 20px;
}

/* line 461, ../scss/main.scss */
.product-title {
  flex: 1 1 100%;
  font-weight: bold;
  text-align: left;
}

/* line 572, ../scss/main.scss */
.logo {
  max-width: 100%;
  margin-left: 15px;
}

/* line 576, ../scss/main.scss */
.product-logo {
  height: 20px;
  vertical-align: sub;
  cursor: pointer;
}

/* line 581, ../scss/main.scss */
.barcodescanner {
  background-image: url("/img/scanner.png");
  width: 125px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
/* line 589, ../scss/main.scss */
.hasMatches {
  color: #163f76;
  font-size: 25px;
}

/* line 593, ../scss/main.scss */
.fa-link {
  cursor: pointer;
}

/* line 616, ../scss/main.scss */
.subheading {
  padding-left: 15px;
}

/* line 619, ../scss/main.scss */
.price-info {
  display: flex;
  width: 100%;
  align-items: baseline;
}

/* line 624, ../scss/main.scss */
.image, .product-info {
  float: left;
}

/* line 627, ../scss/main.scss */
.small {
  font-size: small;
}

/* line 630, ../scss/main.scss */
.was {
  text-decoration: line-through;
}

/* line 634, ../scss/main.scss */
.w100 {
  width: 100%;
}

/* line 637, ../scss/main.scss */
.productprice {
  font-weight: bold;
}

/* line 640, ../scss/main.scss */
.unitPrice {
  font-size: 1.8rem;
}

/* line 643, ../scss/main.scss */
.productprice .productdiscount {
  display: none;
}

/* line 647, ../scss/main.scss */
.productprice:hover .productdiscount {
  display: inline-block;
}

/* line 651, ../scss/main.scss */
.text-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
/* line 656, ../scss/main.scss */
.text-wrapper .text-item {
  flex: 0 1 auto;
}

/* line 660, ../scss/main.scss */
.discounts {
  flex: 1;
  font-size: smaller;
}

/* line 664, ../scss/main.scss */
.originalPrice {
  text-decoration: line-through;
}

/* line 667, ../scss/main.scss */
.category {
  padding: 5px;
}

/* line 672, ../scss/main.scss */
.content {
  flex: 1;
  transition: all .3s;
}

/* line 680, ../scss/main.scss */
.seachbar {
  width: 100%;
}

/* line 684, ../scss/main.scss */
.searchResult {
  width: 100%;
}





