
:root {  
  --root-color: #163f76;
  --root-font-size: 8px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--root-color);
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muli', sans-serif;
  font-size: var(--root-font-size);
  color: #4a4a4a;
}


.text-center {
  text-align: center;
  font-size: 2.5rem ;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.active {
  color: red!important;
}
figure {
    margin: 0;
}
li {
  list-style-type: none;
}


h2 {
  font-size: 2.6rem;
}


footer {
  width: 100%;
  max-height: 7rem;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;

  .footerLinks {
    display: inline-block;
    margin: 20px;
  }
}



/* line 323, ../scss/main.scss */
.price-footer {
  display: flex;
  width: 100%;
}
/* line 326, ../scss/main.scss */
.price-footer .footerwrap {
  width: 100%;
}

/* line 330, ../scss/main.scss */
.prod-icon {
  flex: 0 1 auto;
}

/* line 333, ../scss/main.scss */
.favourite {
  flex: 0 1 auto;
}

/* line 354, ../scss/main.scss */
.price {
  display: flex;
  align-items: center;
}

/* line 358, ../scss/main.scss */
.currentPrice {
  flex: 1;
}

/* line 361, ../scss/main.scss */
.share-social {
  flex: 0 1 auto;
}




/* line 385, ../scss/main.scss */
.scanMenu, .shopcart {
  color: #163f76;
}




/* line 439, ../scss/main.scss */
.icon.icon-cross {
  cursor: pointer;
  font-size: 30px;
}

/* line 443, ../scss/main.scss */
.icon-cross:before {
  content: "X";
}


/* line 572, ../scss/main.scss */
.logo {
  max-width: 100%;
  margin-left: 15px;
}



/* line 593, ../scss/main.scss */
.fa-link {
  cursor: pointer;
}


/* line 619, ../scss/main.scss */
.price-info {
  display: flex;
  width: 100%;
  align-items: baseline;
}

/* line 624, ../scss/main.scss */
.image, .product-info {
  float: left;
}



/* line 651, ../scss/main.scss */
.text-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
/* line 656, ../scss/main.scss */
.text-wrapper .text-item {
  flex: 0 1 auto;
}

/* line 660, ../scss/main.scss */
.discounts {
  flex: 1;
  font-size: smaller;
}

/* line 664, ../scss/main.scss */
.originalPrice {
  text-decoration: line-through;
}

/* line 667, ../scss/main.scss */
.category {
  padding: 5px;
}

/* line 672, ../scss/main.scss */
.content {
  flex: 1;
  transition: all .3s;
}

/* line 680, ../scss/main.scss */
.seachbar {
  width: 100%;
}

/* line 684, ../scss/main.scss */
.searchResult {
  width: 100%;
}





